.doc {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 12px 16px;
  border-top: 1px solid #f5f5f5;
  cursor: pointer;
}

.doc:first-child {
  border-top: none;
}

.docInfo {
  display: flex;
  align-items: center;
}
.marker {
  height: 2.5rem;
  width: 0.25rem;
  margin-right: 16px;
  border-radius: 13px;
}
.doc:hover .marker {
  background-color: #0266c8;
}
.doc:hover {
  background-color: #e0f3fe;
}
.docOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.docOptions > span {
  font-family: Objective !important;
  font-size: 0.875rem;
  font-size: 14px;
  line-height: 14px;
  color: #0266c8;
}
.star {
  margin-right: 1rem;
}
.star::before {
  content: "\f4ce";
}
.unStar {
  margin-right: 1rem;
}
.unStar::before {
  content: "\f4d2";
}
.dots::before {
  content: "\f1d8";
}
.docIcon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.docDetails {
  margin-left: 1.5rem;
}
.docTitle {
  color: #0266c8;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.docTitle:hover {
  text-decoration: underline;
}
.docOwner {
  color: #32373f;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
