.title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #32373f;
  padding: 20px 0;
}
.main {
  background-color: #ffffff;
  border-radius: 8px;
}
.nothing {
  color: #32373f;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}
