.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-top: 8px solid #c63906;
  height: 4.25rem;
  max-width: 100%;
  padding: 0 3rem;
}
.logo {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -1.5%;
  color: #32373f;
}
.navOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggleIcon::before {
  font-family: Objective !important;
  content: "\f145";
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}
.themeToggler {
  width: 48px;
  height: 48px;
  background-color: #f5f5f5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.75rem;
}
.userIcon {
  width: 48px;
  height: 48px;
  background-color: #c63906;
  border-radius: 50%;
  font-family: "Noto Sans";
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:470px) {
  .headerWrapper{
    padding:0 16px;
  }
}