/* Search */
.searchWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.searchInputDiv {
  width: 100%;
}
.searchInput {
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Roboto !important;
  font-weight: 400;
  font-size: 14px;
  padding: 12px;
  width: 100%;
}
.searchInput::placeholder {
  opacity: 0.7;
}
.searchInput:focus {
  outline: none;
  border-color: #0266c8;
}
.searchIcon {
  font-size: 1rem;
  position: absolute;
  margin: 10px -30px;
  color: #0266c8;
  cursor: pointer;
}
.searchIcon::before {
  font-family: Objective !important;
  content: "\f349";
  font-size: 16px;
  font-weight: 400;
}
.sorter {
  margin-left: 1.5rem;
  cursor: pointer;
}
.sorter::before {
  font-family: Objective !important;
  content: "\f4bb";
  color: #0266c8;
  font-size: 1rem;
}
